footer {
    background: $footer-color;
    font-size: 24px;
    text-align: center;
    padding: 1%;
    margin-top: 2em;
    
    ul {
        @include flex-center ();
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        gap: 24px;
    }
}