.title {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #FFF3B0;
}

.large-image {
    width: 60%;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 3%;
    border: 2px solid #000000;
    box-shadow: 0px 15px 25px #000000;
}

.review-star {
    padding: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    justify-content:space-around;
    align-items: center;
}

.sinopsis {
    font-size: 28px;
    font-weight: lighter;
    color: #E09F3E;
}

.autor {
    width: 150px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    border: 2px solid #000000; /* Agrega un borde */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    display: block; /* Centra la imagen horizontalmente */
    margin: 20px auto; /* Agrega márgenes alrededor de la imagen */
}

figure {
    text-align: center;
}

figure img.autor {
    display: block;
    margin: 0 auto;
}

.reg-20 {
    color: #E09F3E;
}

.reg-36 {
    font-size: 36px;
    color: #E09F3E;
    text-align: center;
}

.ita-24 {
    font-size: 24px;
    font-style: italic;
    color: #FFF3B0;
}

.ita-36 {
    font-size: 36px;
    font-style: italic;
    color: #FFF3B0;
    text-align: center;
}

.ita-32 {
    color: #FFF3B0;
    font-size: 32px;
    font-style: italic;
}

.ita-40 {
    color: #FFF3B0;
    font-size: 40px;
    font-style: italic;
}

.lig-40 {
    color: #E09F3E;
    font-size: 40px;
    font-weight: lighter;
}

.video {
    width: 80%;
    height: auto;
    border-radius: 3%;
    justify-content: center;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}