// Media Queries

@media (min-width: 769px) and (max-width: 991px){
    // Navbar
    .brand-logo {
        @include medidas(110px, auto);
    }
    
    .icon {
        @include medidas(40px, auto);
    }
    
    ul.navbar-nav {
        @include flex-center();
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    // Navbar
    .brand-logo {
        @include medidas(110px, auto);
    }

    .icon {
        @include medidas(40px, auto);
    }

    ul.navbar-nav {
        @include flex-center();
    }

    // Index

    .review-star {
        @include medidas(25%, auto);
    }

    .autor {
        @include medidas(90%, auto);
    }

    // Texto

    h1, h1.title, h2, p, h3, .autor h3, .autor p, h4, .carousel-container .breve-descripcion h2 {
        font-size: map-get($font-size , base );
    }

    footer p, .music-grid h2, .music-grid p, .music-grid h3, .music-grid h4, .carousel-container .breve-descripcion h3 {
        font-size: map-get($font-size , m );
    }

    .capitulos-grid .capitulo, .carousel-container .breve-descripcion p {
        font-size: map-get($font-size, 2xs );
    }

    // Imagen del Form

    .form img {
        @include medidas(100%, auto);
    }
}

@media (max-width: 450px) {

    // Navbar
    .brand-logo {
        @include medidas(90px, auto);
    }

    .icon {
        @include medidas(30px, auto);
    }

    ul.navbar-nav {
        @include flex-center();
    }

    // Index

    .review-star {
        @include medidas(25%, auto);
    }

    .autor {
        @include medidas(90%, auto);
    }

    // Texto

    a.nav-link, h1, h1.title, h2, p, h3, .autor h3, .autor p, h4, .carousel-container .breve-descripcion h2 {
        font-size: map-get($font-size, xs );
    }

    footer p, .music-grid h2, .music-grid p, .music-grid h3, .music-grid h4, .carousel-container .breve-descripcion h3 {
        font-size: map-get($font-size , 3xs );
    }

    .capitulos-grid .capitulo, .carousel-container .breve-descripcion p {
        font-size: map-get($font-size , 4xs );
    }

    // Grid

    .grid-container, .capitulos-grid, .music-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
    }

    // Estructura del Form e Imagen

    .form {
        @include medidas(80%, auto);
    }

    .form img {
        @include medidas(100%, auto);
    }
}