.music-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-video {
    width: 80vw;
    height: auto;
    border-radius: 3%;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}

.music-youtube {
    width: 80vw;
    height: 50vh;
    border-radius: 3%;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}