.mi-navbar {
    background-image: url(../assets/images/nav-img.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-color: black;
}

.brand-logo {
    @include medidas(180px, auto);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0.95;
}

a.nav-link {
    color: $primario;
    @include fontStyle(24px, bold, normal);
}
