h1 {
    text-align: center;
    padding-top: 10px;
    margin: 1% 0;
}

section {
    margin: 1%;
}

// Index

.title {
    font-size: map-get($font-size , 7xl);
    @include fontStyle(lighter, italic);
    color: $secundario;
    text-align: start;
    margin-left: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    justify-content:space-around;
    align-items: center;
}

.sinopsis {
    font-size: map-get($font-size , 3xl);
    @include fontStyle(lighter, normal);
    color: $terciario;   
    p {
        color: $secundario;
    }
}

// Por algun motivo body esta sobrescribiendo a h3 y p entonces toco agregarlos en la clase .auto para que aplique el estilo :(

.autor {
    figure {
        @include flex-center();
    }
    
    img {
        @include block-center();
        @include medidas(80%, auto);
        border: $border-dark;
        border-radius: 20%;
    }

    h3 {
        font-size: map-get($font-size , 7xl);
        @include fontStyle(normal, normal);
        text-align: center;
    }
    
    p {
        font-size: map-get($font-size , 7xl);
        @include fontStyle(normal, italic);
        color: $secundario;
        text-align: center;
    }
}

h4 {
    font-size: map-get($font-size , 5xl);
    @include fontStyle(normal, italic);
    color: $secundario;
    margin: 2% 0;
}

// Formulario de contacto

.form{
    @include flex-center();
    @include medidas(50%, auto);
    flex-direction: column;
    text-align: center;
    gap: 16px;
    margin: 2% auto;
    padding: 2%;
    border: $border-dark;
    border-radius: 20px;
    background-color: $primario;
    color: $secundario;
    box-shadow: 0 0 10px $secundario;

    img {
        @include medidas(50%, auto);
        border: $border-dark;
        border-radius: 20%;
    }

    
    input, textarea, button {
        font-size: map-get($font-size , s); 
        @include fontStyle(normal, italic);
        @include medidas(100%, none);
        margin: 8px 0;
        padding: 12px;
        border-radius: 5px;
        border: $border-dark;
    }

    .send-button {
        @include transform();
        background-color: $secundario; 
        color: $primario;
        cursor: pointer;
        &:hover {
            background-color: darken($secundario, 10%);
        }
    }
}