// Trailer

.video {
    @include block-center;
    @include medidas(85%, auto);
    border-radius: 3%;
    justify-content: center;
    border: $border-primario;
    box-shadow: $shadow;
    margin: 0 auto;
    text-align: center;
    @include transform();
}

// Musica

.music-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    @include medidas(90vw, auto);
    gap: 36px;
    margin: 0 auto;
    text-align: center;

    h2 {
        font-size: map-get($font-size , 6xl);
        @include fontStyle(normal, normal);
        color: $secundario;   
    }

    p {
        font-size: map-get($font-size , 4xl);
        @include fontStyle(normal, italic);
        color: $primario;
    }

    h3 {
        @extend p;
        @include fontStyle(normal, normal);
        color: $terciario;
    }

    h4 {
        @extend p;
        font-size: map-get($font-size , xl);
    }

    .music-video {
        @include medidas(100%, 352px);
        @include transform();
        border-radius: 3%;
        border: $border-primario;
        box-shadow: $shadow;
        margin-bottom: 1.5em;
    }

    .spotify-edit {
        @include transform();
      }
}

// Carrusel de musica

.carousel-inner {
    border: $border-primario;
    box-shadow: $shadow;
    border-radius: 3%;
}