/* Google Fonts */
/* font-family: "Prompt", serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    background-image: url(../assets/images/back-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #540B0E;
}

/* Navegador */

.background-nav {
    background-image: url(../assets/images/nav-img.png);
    background-size: auto;
    background-color: black;
}

.brand-logo {
    width: 200px;
    height: auto;
}

.icon{
    width: 55px;
    height: auto;
    padding: 8%;
    gap: 5px;
}

a.nav-link {
    color: #E09F3E;
    font-size: 16px;
    font-weight: bold;
}

/* Main */

main {
    margin: 1%;
}

/* Index */

.title {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #FFF3B0;
}

.large-image {
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 3%;
    border: 2px solid #000000;
}

.review-star {
    padding: 1%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    justify-content:space-around;
    align-items: center;
}

.sinopsis {
    font-size: 28px;
    font-weight: lighter;
    color: #E09F3E;
}

.autor {
    border-radius: 40%;
    border: 1px solid black;
}

figure {
    text-align: center;
}

figure img.autor {
    display: block;
    margin: 0 auto;
}

.reg-20 {
    color: #E09F3E;
}

.reg-36 {
    font-size: 36px;
    color: #E09F3E;
    text-align: center;
}

.ita-24 {
    font-size: 24px;
    font-style: italic;
    color: #FFF3B0;
}

.ita-36 {
    font-size: 36px;
    font-style: italic;
    color: #FFF3B0;
    text-align: center;
}

.ita-32 {
    color: #FFF3B0;
    font-size: 32px;
    font-style: italic;
}

.ita-40 {
    color: #FFF3B0;
    font-size: 40px;
    font-style: italic;
}

.lig-40 {
    color: #E09F3E;
    font-size: 40px;
    font-weight: lighter;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 3%;
    justify-content: center;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}

/* Capitulos */

.reg-40 {
    font-size: 40px;
    color: #E09F3E;
}

.grid-capitulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-content: space-around;
    align-items: stretch;
    padding: 2%;
}

.capitulo {
    font-size: 20px;
    font-weight: normal;
    color: #FFF3B0;
}

.cap-cover {
    width: 100%;
    height: auto;
    border-radius: 2%;
    border: 1px solid #000000;
    cursor: pointer;
    box-shadow: 0px 5px 10px #000000;
}

.cap-cover:hover {
    background-color: #E09F3E;
}

.boton {
    width: 51px;
    height: auto;
    cursor: pointer;
}

/* Personajes - Carrusel de imagenes */

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

img.d-block.w-100 {
    border-radius: 2%;
    box-shadow: 0px 5px 10px #000000;
    width: 100%;
    height: auto;
}

.arrow {
    width: auto;
    height: 32px;
}

.carousel-caption h5 {
    color: #E09F3E;
}

.carousel-caption p {
    color: #FFF3B0;
    font-style: italic;
}


/* Musica */

.music-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-video {
    width: 80vw;
    height: auto;
    border-radius: 3%;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}

.music-youtube {
    width: 80vw;
    height: 50vh;
    border-radius: 3%;
    border: 1px solid #E09F3E;
    box-shadow: 0px 15px 25px #000000;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 2%;
    height: 80vh;
}

.textbox {
    width: 80%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 2%;
    background-color: #FFF3B0;
    font-size: 20px;
}

.textarea {
    width: 80%;
    height: 240px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 2%;
    background-color: #FFF3B0;
    font-size: 20px;
}

.send-button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #E09F3E;
    color: #FFF3B0;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.send-button:hover {
    background-color: #FFF3B0;
    color: #E09F3E;
}

/* Footer */

footer {
    background-color: #9E2A2B;
    color: #E09F3E;
    font-size: 24px;
    text-align: center;
    padding: 1%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 450px) {
    .brand-logo {
        width: 80px;
        height: auto;
    }

    .icon {
        width: 30px;
        height: auto;
    }

    ul.navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        text-decoration: none;
        gap: 2px;
    }

    .review-star {
        width: 40%;
        height: auto;
    }

    .title {
        font-size: 13px;
    }

    .sinopsis {
        font-size: 12px;
    }

    .autor {
        width: 95%;
        height: auto;
    }

    .ita-24 {
        font-size: 13px;
    }

    .reg-36 {
        font-size: 13px;
    }

    .ita-36 {
        font-size: 13px;
    }

    .ita-32 {
        font-size: 13px;
    }

    .video {
        box-shadow: 0px 9px 14px #000000;
    }

    footer {
        font-size: 13px;
    }

    .reg-40 {
        font-size: 13px;
    }

    .lig-40 {
        font-size: 14px;
    }

    .ita-40 {
        font-size: 14px;
    }

    .grid-capitulos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
    }

    .capitulo {
        font-size: 13px;
    }

    .cap-cover {
        box-shadow: 0px 3px 8px #000000;
    }

    .music-youtube {
        width: 80vw;
        height: 20vh;
    }

    .textbox {
        font-size: 13px;
    }

    .textarea {
        font-size: 13px;
    }

    .send-button {
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .brand-logo {
        width: 110px;
        height: auto;
    }

    .icon {
        width: 40px;
        height: auto;
    }

    ul.navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        text-decoration: none;
        gap: 2px;
    }

    .review-star {
        width: 40%;
        height: auto;
    }

    .title {
        font-size: 21px;
    }

    .sinopsis {
        font-size: 19px;
    }

    .autor {
        width: 95%;
        height: auto;
    }

    .ita-24 {
        font-size: 19px;
    }

    .reg-36 {
        font-size: 19px;
    }

    .ita-36 {
        font-size: 19px;
    }

    .ita-32 {
        font-size: 19px;
    }

    .video {
        box-shadow: 0px 13px 23px #000000;
    }

    footer {
        font-size: 19px;
    }

    .reg-40 {
        font-size: 19px;
    }

    .lig-40 {
        font-size: 20px;
    }

    .ita-40 {
        font-size: 20px;
    }

    .grid-capitulos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
    }

    .capitulo {
        font-size: 19px;
    }

    .cap-cover {
        box-shadow: 0px 4px 9px #000000;
    }

    .music-youtube {
        width: 80vw;
        height: 30vh;
    }

    .textbox {
        font-size: 19px;
    }

    .textarea {
        font-size: 19px;
    }

    .send-button {
        width: 100px;
        height: 40px;
        font-size: 19px;
    }
}
