/* Google Fonts */
/* font-family: "Prompt", serif; */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background-color: #540b0e;
    font-family: 'Prompt', sans-serif;
}

/* Barra de navegacion */

nav {
    background-color: #0E0D0D;
}

.nav-li {
    list-style: none;
}

.nav-class {
    text-decoration: none;
    color: #E09F3E;
    font-size: 48px;
}

.brand-logo {
    width: 276px;
    height: 214px;
}

.icon {
    width: 33px;
    height: 37px;
}

/* Main */

h1 {
    color: #FFF3B0;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.large-image {
    width: 1057px;
    height: 666px;
}

.review-star {
    width: 253px;
    height: 42px;
}

/* Sinopsis de la serie */

h2, p {
    color: #E09F3E;
    font-size: 28px;
    font-weight: lighter;
    text-align: start;
}

/* Autor */

h3 {
    color: #E09F3E;
    font-size: 36px;
    text-align: center;
}

h4 {
    color: #FFF3B0;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.autor {
    width: 319px;
    height: 319px;
}

/* Trailer */

h5 {
    color: #FFF3B0;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

/* Footer */

footer {
    list-style: none;
    background-color: #9E2A2B;
    text-align: center;
}

footer p {
    color: #E09F3E;
    font-size: 24px;
    text-align: center;
}

/* Capitulos */

.capitulo {
    color: #FFF3B0;
    font-size: 20px;
}

.cap-cover {
    width: 332px;
    height: 188px;
}